<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <h2>Create Position</h2>
      <div class="flex-spacer"></div>
      <button mat-raised-button color="primary" routerLink="/positions">CANCEL</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="mat-elevation-z3" id="position-create-form-container">

  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h3>Create New Position</h3>
    </mat-toolbar-row>
  </mat-toolbar>

  <table mat-table [dataSource]="myData">
    <ng-container matColumnDef="skill">
      <th mat-header-cell *matHeaderCellDef> Skill </th>
      <td mat-cell *matCellDef="let element">
          <input matInput placeholder="Skill"/>
      </td>
    </ng-container>
    <ng-container matColumnDef="level">
      <th mat-header-cell *matHeaderCellDef> Level </th>
      <td mat-cell *matCellDef="let element">
        <mat-form-field>
          <mat-select>
            <mat-option *ngFor="let level of skillLevels" [value]="level.value">
              {{level.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <button mat-raised-button color="primary">ADD ROW</button>

  <form id="position-create-form">

    <mat-form-field>
      <input matInput placeholder="Skill"/>
    </mat-form-field>

<!--    <mat-form-field >
      <mat-radio-group matInput aria-label="Skill Level required" formControlName="level">
        <mat-radio-button  [value]="1">Information level</mat-radio-button>
        <mat-radio-button [value]="2">Accompanied execution level</mat-radio-button>
        <mat-radio-button [value]="3">Autonomous execution level</mat-radio-button>
        <mat-radio-button [value]="4">Expert</mat-radio-button>
      </mat-radio-group>
    </mat-form-field>-->

  </form>

</div>
