<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" role="navigation" id="app-navbar">
  <nav class="app-navbar-header">
    <a mat-button routerlink="/" href="/">Skills Matrix Application</a>
    <!---->
    <a mat-button routerLink="/skills" href="/skills">Skills Database</a>
    <a mat-button routerLink="/resources" href="/resources">Resources</a>
    <a mat-button routerLink="/projects" href="/projects">Projects</a>
    <a mat-button routerLink="/positions" href="/positions">Positions</a>
    <a mat-button routerLink="/matrices" href="/matrices">Matrices</a>
  </nav>
</mat-toolbar>

<router-outlet></router-outlet>
