<!--The content below is only a placeholder and can be replaced.-->
<mat-toolbar color="primary" role="navigation" id="app-navbar">
  <button mat-icon-button>
    <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
  </button>
  <h1>Skills Management Suite</h1>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side">
    <mat-nav-list>
      <a mat-list-item routerlink="/projects" href="/projects">Home</a>
      <a mat-list-item routerLink="/skills" href="/skills">Skills Database</a>
      <a mat-list-item routerLink="/resources" href="/resources">Resources</a>
      <a mat-list-item routerLink="/projects" href="/projects">Projects</a>
      <a mat-list-item routerLink="/positions" href="/positions">Positions</a>
      <a mat-list-item routerLink="/matrices" href="/matrices">Graphs</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div style="height: 92vh">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
