<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <h2>Create Position</h2>
      <div class="flex-spacer"></div>
      <button mat-raised-button color="primary" routerLink="/positions">CANCEL</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="mat-elevation-z3" id="position-create-form-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h3>Create New Position</h3>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-vertical-stepper [linear]="isLinear" #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Select project and position name</ng-template>
        <mat-form-field class="position-create-form-field">
          <mat-label>Project</mat-label>
          <mat-select>
            <mat-option *ngFor="let project of projects" [value]="project.id">
              {{project.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field class="position-create-form-field">
          <input matInput placeholder="Position Name">
        </mat-form-field>
      </form>
    </mat-step>

    <mat-step [stepControl]="secondFormGroup">
      <form [formGroup]="secondFormGroup">
        <ng-template matStepLabel>Add skills and competency levels for position</ng-template>
        <mat-form-field>
          <input matInput placeholder="Address" formControlName="secondCtrl" required>
        </mat-form-field>
      </form>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Validate and save</ng-template>
      <div>
        <button mat-button (click)="stepper.reset()">RESET</button>
        <button mat-button (click)="stepper.reset()">SAVE</button>
      </div>
    </mat-step>
  </mat-vertical-stepper>
</div>
