.flex-spacer {
  flex-grow: 1;
}

.flex {
  display: flex;
}

.flex-left {
  align-self: flex-start;
}

.flex-right {
  align-self: flex-end;
}

#project-create-form-container {
  width: 66%;
  margin: 28px auto;
  padding-bottom: 28px;
}

#project-create-form {
  margin: 28px;
}

.project-create-form-field {
  width: 100%;
}
