<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <h2>{{resource.infos[0].last_name}}, {{resource.infos[0].first_name}} &mdash; {{resource.infos[0].employee_number}}</h2>
      <div class="flex-spacer"></div>
      <button mat-button color="primary" routerLink="/skills/create">Summary</button>
      <button mat-button color="primary" routerLink="/skills/create">Detail</button>
      <button mat-button color="primary" routerLink="/skills/create">Training Plan</button>
      <button mat-button color="primary" routerLink="/skills/create">Activity Log</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-12 my-3">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image resource-header-image"></div>
          <mat-card-title>About</mat-card-title>
          <mat-card-subtitle>Information about {{resource.infos[0].first_name}}.</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 mb-3">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image position-header-image"></div>
          <mat-card-title>Current Position</mat-card-title>
          <mat-card-subtitle>{{resource.missions[0].position_name}} @ {{resource.missions[0].project_name}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-6 mb-3">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image assessment-header-image"></div>
          <mat-card-title>Assessment Status</mat-card-title>
          <mat-card-subtitle>{{resource.infos.employee_number}}</mat-card-subtitle>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-3">
      <mat-card>
        <mat-card-header>
          <div mat-card-avatar class="header-image skills-summary-header-image"></div>
          <mat-card-title>Skills Summary</mat-card-title>
          <mat-card-subtitle>A fine-tuned overview of skills.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div [hidden]="!lineChart" style="position: relative; margin:auto; width:50vw;">
            <canvas id="lineChart" >{{ lineChart }}</canvas>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

</div>
