<div>
  <mat-toolbar>
    <mat-toolbar-row>
      <h2>Create Project</h2>
      <div class="flex-spacer"></div>
      <button mat-raised-button color="primary" routerLink="/projects">CANCEL</button>
    </mat-toolbar-row>
  </mat-toolbar>
</div>

<div class="mat-elevation-z3" id="project-create-form-container">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <h3>Create New Project</h3>
    </mat-toolbar-row>
  </mat-toolbar>

  <form [formGroup]="createForm" id="project-create-form">

    <mat-form-field class="project-create-form-field">
      <label>
        <input matInput placeholder="Project Name" formControlName="name" #name>
      </label>
    </mat-form-field>

    <mat-form-field class="project-create-form-field">
      <label>
        <input matInput placeholder="Project OTP Code" formControlName="project_otp_code" #project_otp_code>
      </label>
    </mat-form-field>

    <mat-form-field class="project-create-form-field">
      <label>
        <input matInput placeholder="Planned Start Date" formControlName="start_date" [matDatepicker]="start_date_picker" #start_date>
      </label>
      <mat-datepicker-toggle matSuffix [for]="start_date_picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #start_date_picker></mat-datepicker>
      <!--input type="Date" matInput placeholder="Planned Start Date" formControlName="start_date" #start_date-->
    </mat-form-field>

    <mat-form-field class="project-create-form-field">
      <label>
        <input matInput placeholder="Planned End Date" formControlName="end_date" [matDatepicker]="end_date_picker" #end_date>
      </label>
      <mat-datepicker-toggle matSuffix [for]="end_date_picker"></mat-datepicker-toggle>
      <mat-datepicker touchUi #end_date_picker></mat-datepicker>
      <!--input type="Date" matInput placeholder="Planned Start Date" formControlName="start_date" #start_date-->
    </mat-form-field>

    <div class="flex">
      <button class="flex-right" type="submit" (click)="addProject(name.value, project_otp_code.value, start_date.value, end_date.value)" [disabled]="createForm.pristine || createForm.invalid" mat-raised-button color="accent">Save</button>
    </div>

  </form>
</div>
